
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Tajawal');

.card-header {
    padding: 0.25rem 0.85rem;
    font-weight: 700;
    }
.card-body {
   
    padding: 0.55rem 0.85rem;
    background-color: #ffbf00; 
    }