
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text&display=swap');



body {
                
  font-family: 'Red Hat Text', sans-serif;
  font-size: 12px;

} 

.changeColor {
  background: white;
}

.custom-select {
  width:200px;
  font-size: 20px;
  background-color: pink;
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 0.5;
  filter: alpha(opacity=90);
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
.red {
  height: 50px;
  width: 50px;
  background-color: #EC2049;
  border-radius: 50%;
  display: inline-block;
}
.orange {
  height: 50px;
  width: 50px;
  background-color: #F26B38;
  border-radius: 50%;
  display: inline-block;
}
.gold {
  height: 50px;
  width: 50px;
  background-color: #F7DB4F;
  border-radius: 50%;
  display: inline-block;
}
.green {
  height: 50px;
  width: 50px;
  background-color: #859900;
  border-radius: 50%;
  display: inline-block;
}
.teal {
  height: 50px;
  width: 50px;
  background-color:teal;
  border-radius: 50%;
  display: inline-block;
}

.blue {
  height: 50px;
  width: 50px;
  background-color: #2F9599;
  border-radius: 50%;
  display: inline-block;
}
.purple {
  height: 50px;
  width: 50px;
  background-color: #6c71c4;
  border-radius: 50%;
  display: inline-block;
}
.pink {
  height: 50px;
  width: 50px;
  background-color: pink ;
  border-radius: 50%;
  display: inline-block;
}
.peachpuff {
  height: 50px;
  width: 50px;
  background-color: peachpuff ;
  border-radius: 50%;
  display: inline-block;
}
.white {
  height: 50px;
  width: 50px;
  background-color: #fffff0 ;
  border-radius: 50%;
  display: inline-block;
}
.black {
  height: 50px;
  width: 50px;
  background-color: #2f2f29 ;
  border-radius: 50%;
  display: inline-block;
}

.grid-item {
    position: relative;
    padding: 0.85rem 0.85rem;
    font-weight: 700;
    }
.card-body {
   
    padding: 0.55rem 0.85rem;
    background-color: #ffbf00; 
    }

